





/*Font Family*/

@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');


*,
*::before,
*::after {
    box-sizing: border-box;
}

*,
*::before,
*::after {
  animation-duration: 0.01ms !important;
  animation-iteration-count: 1 !important;
  transition-duration: 0.01ms !important;
  scroll-behavior: auto !important;
}


:root {

    /* Colors */

    box-sizing: border-box;
    --dark-blue: hsl(233, 54%, 45%);
    --very-light-grey: hsl(218, 69%, 94%);
    --grey: hsl(222, 48%, 81%);
    --light-purple: hsl(236, 36%, 77%);
    --lime: hsl(70, 62%, 47%);

      /* font-sizes */
      --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
      --fs-800: 3.5rem;
      --fs-700: 1.5rem;
      --fs-600: 1rem;
      --fs-500: 1rem;
      --fs-400: 0.9375rem;
      --fs-300: 1rem;
      --fs-200: 0.875rem;

}

@media (min-width: 35em) {
    :root {
        --fs-800: 5rem;
        --fs-700: 2.5rem;
        --fs-600: 1.5rem;
        --fs-500: 1.25rem;
        --fs-400: 1rem;
    }
}

@media (min-width: 45em) {
    :root {
        /* font-sizes */
        --fs-800: 6.25rem;
        --fs-700: 3.5rem;
        --fs-600: 2rem;
        --fs-500: 1.75rem;
        --fs-400: 1.125rem;
    }
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0; 
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

/* make images easier to work with */
img,
picutre {
    max-width: 100%;
    display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}


/* ------------------- */
/* Utility classes     */
/* ------------------- */

/* general */

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.d-block {
    display: block;
}

.letter-spacing-1 { letter-spacing: 4.75px; } 
.letter-spacing-2 { letter-spacing: 2.7px; } 
.letter-spacing-3 { letter-spacing: 2.35px; } 

.uppercase { text-transform: uppercase; }

.fs-900 { font-size: var(--fs-900); }
.fs-800 { font-size: var(--fs-800); }
.fs-700 { font-size: var(--fs-700); }
.fs-600 { font-size: var(--fs-600); }
.fs-500 { font-size: var(--fs-500); }
.fs-400 { font-size: var(--fs-400); }
.fs-300 { font-size: var(--fs-300); }
.fs-200 { font-size: var(--fs-200); }

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
    line-height: 1.1;
}


body {
    background-color: #6F98AA;
    color: white;
    height: 100vh;
    font-family: 'Spartan';
}

.main {
    padding: 2rem;
}

@media (min-width: 45em) {
.main {
    width: 55%;
    margin: 0 auto;
}
}

.starter {
    padding-top: 6rem;
    justify-content: center;
    height: 25%;
    gap: 1.5rem;
}

.starter > * {
    margin: 0 auto;
}

.btn {
    width: 50%;
    height: 40px;
    color: white;
    border: 0;
    border-radius: 8px;
    background-color: #F1AF62;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    line-height: 1.4;
    font-weight: 600;
}

.questionGrid {
  text-align: left;
    
}



.question-span {
    font-size: 12px;
    font-weight: lighter;
    color: var(--very-light-grey);

}

.whatCapital {
    font-size: 25px;
    padding-bottom: 1.6rem;
}


.answer {
    background-color: white;
    text-align: center;
    border-radius: 5px;
    padding: 1rem;
    color: var(--dark-blue);
}

.correct {
    border-radius: 5px;
    padding: 1rem;
    background-color: var(--lime);
    color: white;
    text-align: center;
    
}

.wrong {
    border-radius: 5px;
    padding: 1rem;
    background-color: rgb(248, 91, 91);
    color: white;
    text-align: center;
}


.next {
    justify-self: end;
    width: 50%;
    margin-top: 1rem;
}

.question, .questionTwo, .questionThree, .questionFour, .questionFive, .result {
    display: none;
}


.questionGrid {
   height: 100%;
   width: 100%;
}



.questionGrid > * {
    margin-top: 1rem;
}

.result {
    align-items: center;
    height: 100%;
}

.result > * {
    margin-top: 1.5rem;
}